.menu {
    background-color: #333;
  }
  
  .menu ul {
    list-style: none; 
    display: flex; 
    justify-content: center; 
    padding: 10px; 
    margin: 0;
  }
  
  .menu li {
    margin: 0 10px; 
  }
  
  .menu a {
    text-decoration: none; 
    color: #fff; 
    padding: 5px 10px; 
    border-radius: 5px; 
  }
  
  .menu a:hover {
    background-color: #555; 
  }
  .model {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  }
  .modal-content {
    background-color: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%;
  }
  .modal-content h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
    background-color: #333;
  }

  
 
  
  

  
  
  /* style.css */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  list-style: none;
}

.movie-item {
  text-align: center;
}

.movie-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.movie-item h3 {
  margin: 10px 0;
}

/* .movie:hover {
  transform: scale(1.05);
} */
.movie h2{
  font-size: 50px;
 background-color: #333;
 text-align: center;
  color: #fff;
}

.btn {
  border-radius: 8px;
  color: #fff;
  background-color: #333;
  font-size: 20px;
  padding: 5px;
  margin: 2px;
}
.btn :hover {
  border-radius: 2px;
 color: #333;
background-color: #fff;
}

.form-control{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-item{
  display: block;
  padding: 2px;
  margin: 4px;
}
.movie-details{
 display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-details h2{
 background-color: #333;
padding: 5px 20px;
margin: 10px;
 color: #fff;
 font-size: 30px;

}

.movie-details p{
  font-size: 20px;
}


